**/*.js
# dependencies
/node_modules
.next
.run
# bundle stats
*.mdx
jitsu
# configs -- will keep multi-line json arrays
.eslintrc.json
package.json
tsconfig.json
tsconfig.paths.json
packages/jitsu-cli/lib
packages/jitsu-types/lib
packages/pipeline-helpers/lib
packages/segment-transform/dist
packages/test-destination/dist