# dependencies
/node_modules
.next
.run
# bundle stats
*.mdx
jitsu
# configs -- will keep multi-line json arrays
.eslintrc.json
.craco.config.js
package.json
tailwind.config.js
tsconfig.json
tsconfig.paths.json
packages/jitsu-cli/lib
packages/jitsu-types/lib